@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;500;700&display=swap');

body {
  font-family: 'Outfit', serif;
  background-color: hsl(143, 17%, 82%);
  color: #29292d;
}

.input {
  background: hsl(143, 17%, 82%);
  border: black solid 1px;
  color: #000000;
  font-family: 'Outfit', serif;
}

button {
  background: #292d2d;
  border: black solid 1px;
  color: hsl(60, 100%, 97%);
  font-family: 'Outfit', serif;
}